<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>Stats</h2>
          </div>
        </div>
    </div>
    
    <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>Feed</h2>
          </div>
        </div>
    </div>
    
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>About</h2>
          </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>Trends</h2>
          </div>
        </div>
    </div>
</div>


