<div class="row">
    <div class="jumbotron">
      <div class="container">
            <h1>Hello, world!</h1>
          <p>...</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>Stats</h2>
          </div>
        </div>
    </div>
    
    <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>Tweets</h2>
          </div>
        </div>
    </div>
    
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>Trends</h2>
          </div>
        </div>
    </div>
</div>

<!-- SECOND ROW START -->
<div class="row">
    <div class="col-xs-3 col-xs-offset-9">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>Who To Follow</h2>
          </div>
        </div>
    </div>
</div>


